<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    </style>

    <style>
        body{
            background:#293241;
            color: white;
        }


        .vertical-menu {
            width: 200px; /* Set a width if you like */
        }

        .vertical-menu a {
            background-color: #eee; /* Grey background color */
            color: black; /* Black text color */
            display: block; /* Make the links appear below each other */
            padding: 12px; /* Add some padding */
            text-decoration: none; /* Remove underline from links */
        }

        .vertical-menu a:hover {
            background-color: #ccc; /* Dark grey background on mouse-over */
        }

        .vertical-menu a.active {
            background-color: #04AA6D; /* Add a green color to the "active/current" link */
            color: white;
        }

        .center-text{
            text-align: center;
        }
    </style>
    <title>Waifu</title>
</head>
<body>
<div class="center-text"><h1>{{.PageTitle}}</h1></div>

<div style="" class="vertical-menu">
{{range .Sites}}
        <a href={{.Link}}>{{.Title}}</a>
{{end}}
</div>

<div class="imgbox">
    <img class="center-fit" src="{{.Image}}">
</div>
<div class="center-text"><h3>{{.About}}</h3></div>
</body>
</html>